@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default, business, light, dark;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
}
